* {
    border: 1pt solid red;
}

html *{
    margin: 0;
}

body {
    border: 1pt solid black;
}

.navbar-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: auto;
    justify-content: space-around;
}

p.navbar-tab {
    max-width: 3em;
    max-height: 2em;
    display: flex;
    align-items: center;
}

.navbar * {
    max-height: 7.5em;
}

.site_container {
    display: flex;
    flex-direction: column;
}

.top_container {
    display: flex;
    flex-direction: column;

}

.navbar {
    display: flex;
    flex-direction: row;
    border: 2pt dotted green;
}

.user-profile {
    display: flex;
    justify-content: flex-end;
    flex: 9;
    align-items: center;
}

img {
    border: 1pt solid blue;
    flex: .25;
    max-width: 3em;
    max-height: 3.5em;
}

.live-update {
    display: flex;
}

.navbar-tab-container {
    display: flex;
    flex: 4;
}
form.link {
    display: flex;
    justify-content: flex-end;
}

#user-tab-image {
    max-width: 3em;
    max-height: 3.5em;
}